.chat-container {
  min-width: 350px;
  max-width: 800px;
  width: 100%;
  margin: auto;
  font-family: sans-serif;
  background-color: #1f1f1f;
  border-radius: 25px 25px 50px 50px;
}

.messages {
  height: calc(100vh - 210px);
  overflow-y: auto;
  margin-bottom: 8px;
  padding: 16px;
}

.message-container {
  margin: 16px;
  display: flex;
  margin-bottom: 16px;
}

.message {
  padding: 12px 16px;
  width: inline-block;
  min-width: 20px;
  position: relative;
  line-height: 1.4;
  text-align: left;
}

.message-user {
  max-width: 80%;
  background-color: #2b5a39;
  margin-left: auto;
  border-radius: 24px 24px 0px 24px;
}

.message-assistant {
  max-width: 80%;
  background-color: #3f3f3f;
  border-radius: 24px 24px 24px 0px;
}

.chat-input {
  background-color: #303030;
  padding: 12px;
  border-radius: 45px;
}

input {
  width: calc(100% - 130px);
  padding: 24px;
  margin: 0px 10px 0px 0px;
  border: none;
  background-color: #303030;
  color: whitesmoke;
  font-size: 18px;
}

input:focus {
  outline: none;
}

button {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  border: none;
}
